@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
 

/* shared style */
        .display-flex{
            display: flex;
        }
        .btn-primary{
          border-radius: 8px;
          background: rgb(255, 144, 14);
          width: 180px;
          height: 64px;
          border: none;
          color:white;
          font-size: 20px;
          font-weight: 600;
        }

  /* Header Style */
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }

  /* Nav related Style */
  .nav-bar{
    justify-content: space-between;
    align-items: center;
  }
.brand-name{
   
 font-weight: 700px;
 font-size: 3rem;
 
}
  .nav-item{
    list-style: none;
    margin-right: 30px;
    
  }
  .nav-link{
    text-decoration: none;
    font-size: 18px;
font-weight: 500;
color:rgb(66, 66, 66);
  }
  .nav-bar, .banner{
    width: 1440px;
    margin: 0 auto;

  }
  /* Banner Related Style */
  .banner-content{
    width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-size: 4rem;
    font-weight: 700;
  }
  .banner-image{
    width: 100%;
  }
/* Responsive Style */
@media screen and (max-width:576px) {
  body{
    background-color: red;
  }
  .nav-bar ,.nav-links{
    flex-direction: column;
  }
}